#navColor{
	background-color: #FFFFFF  !important;
}

.newstyle {
 max-width: 991px;
 margin-left: auto;
 margin-right: auto;

}
#page-container {
  position: relative;
  min-height: 100vh;
}
/*
.navbar{
	padding-left: 30px !important;
	padding-right: 50px !important;
}*/

#logo{
 width: 50%;
}

#fo{
	color: #2E2E2E !important;
}

h5, #align-next{
	display: inline;
	margin-left: 30px;
}

#header-button{
	margin-left: 25px;
}
.bg-dark{
	color: 	#2E2E2E;
}
input {
    max-width: 100%;
}
#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
  padding-left: 50px !important;
  padding-right: 50px !important;
}
/*
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;          /* Footer height */
}
*/

/*
center search bar
#search{
	
	margin: 0 auto; 
	width:250px;
	
}
*/
